[submodule "qhana-plugin-runner"]
	path = qhana-plugin-runner
	url = git@github.com:UST-QuAntiL/qhana-plugin-runner.git
[submodule "qhana-ui"]
	path = qhana-ui
	url = git@github.com:UST-QuAntiL/qhana-ui.git
[submodule "nisq-analyzer-ui"]
	path = nisq-analyzer-ui
	url = git@github.com:UST-QuAntiL/nisq-analzer-ui.git
[submodule "qhana-backend"]
	path = qhana-backend
	url = git@github.com:UST-QuAntiL/qhana-backend.git
