[submodule "qhana-plugin-runner"]
	path = qhana-plugin-runner
	url = git@github.com:cloudsftp/qhana-plugin-runner-private.git
[submodule "qhana-ui"]
	path = qhana-ui
	url = git@github.com:infacc/qhana-ui-private.git
[submodule "nisq-analyzer"]
	path = nisq-analyzer
	url = git@github.com:UST-QuAntiL/nisq-analyzer.git
